    /* Custom  Header */
.custom-topbar-header {
    position: fixed;
    top: 0;
    left: 0; /* Align to the left edge of the viewport */
    right: 0; /* Align to the right edge of the viewport */
    z-index: 1000;
    background-color: white;
    padding: 10px 10px 0 0;
    margin-bottom: 10px;
    border-bottom: 2px solid whitesmoke;
}


  .feed-starts{
    margin-bottom: auto;
  }

  .header-addon {
    padding: 95px 15px 15px 15px;
    border-right: 2px solid whitesmoke;
  }

  
  .custom-topbar-header .in-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .custom-topbar-header .in-header h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 0;
  }
  
  .header-center {
    text-align: center;
  }
  .header-center span{
    display: flex;
    float: right;
    padding: 10px;
  }
  


/* Styles for the toggle icon */
 .toggle-icon {
    display: none;
}

/* Media query for mobile devices (adjust the breakpoint as needed) */
@media (max-width: 768px) {
    .logo {
        display: none;
    }

    .toggle-icon {
        display: block;
    }
}


@media (min-width: 770px) {
    .logo {
        display: block;
    }

    .toggle-button .toggle-icon {
        display: none;
    }

    .header-center {
      margin-right: 100px;
    }

    .header-center span{
      padding: 0 70px 0 70px;
    }
}
  
    
    /* Default styles for both logo and toggle icon */
    .toggle-button {
        font-size: 24px;
        cursor: pointer;
        display: flex;
        align-items: center;
      }
      
      /* Styles for the logo image */
      .logo {
        max-width: 50px;
        height: 50px;
        margin-right: 10px;
        margin-left: 80px;
      }
      

      .header-right .profile-image img {
        max-width: 40px;
        max-height: 40px;
        border-radius: 50px;
        margin-right: 5px;
      }



