/* Widgets */
.custom-widgets {
    width: 25%;
    flex: 0.3;
    padding: 20px;
    margin-right: -120px;
    margin-top: 80px;
    margin-bottom: 20px;
    max-height: 100%; /* Set the maximum height you desire */
    overflow-y: auto; /* Add a vertical scrollbar if content exceeds max-height */
  }
  
  .custom-widgets-input {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 5px 10px;
  }
  
  .custom-widgets-input input {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    background-color: whitesmoke;
  }
  
  .custom-widgets-searchIcon {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .custom-widgets-widgetContainer h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .custom-trending,
  .custom-follow {
    margin-top: 15px;
  }
  
  .custom-trending h4,
  .custom-follow h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .custom-trending-hashtag,
  .custom-trending-topic,
  .custom-follow-user {
    display: flex;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
    color: gray;
    transition: color 0.2s ease-in-out;
  }
  
  .custom-trending-hashtag:hover,
  .custom-trending-topic:hover,
  .custom-follow-user:hover {
    color: #1da1f2;
  }
  
  .custom-trending-icon,
  .custom-follow-button {
    font-size: 18px;
    margin-right: 5px;
  }

  .custom-trending{
    background-color: white;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }

  .custom-topic{
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);

  }

  
  

  /* Styles for the "People to Follow" section */
.custom-follow {
  background-color: white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px 0 20px 0;
  border-radius: 10px;
  margin-top: 20px;
}

.custom-follow h2 {
  font-size: 20px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.custom-follow-user {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
}

.custom-follow-user:hover {
  background-color: whitesmoke;
}

.custom-follow-user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.custom-follow-user h5 {
  margin: 0;
}

.custom-follow-button {
  font-size: 15px;
  width: 80px;
  margin-left: auto; /* This pushes the button to the right */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}


.show-more {
  padding: 15px 0 0 15px;
  color: #1da1f2;
}

.more-to-follow {
  padding: 20px 0 20px 0;
}

.more-to-follow:hover {
  background-color: whitesmoke;
}



  
  @media (max-width: 300px) {
    .custom-widgets {
      display: none;
    }
  }

  @media (max-width: 800px) {
    .feed-fixed-top {
        min-width: 90%; /* Inherit the width from the parent element */
      }
  }

  @media (max-width: 800px) {
    .custom-widgets {
      display: none;
    }
  }

  @media (max-width: 800px) {
    .custom-feed {
      max-width: 100%;
      flex: 1;
    }
  }
  
  
  
